{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

<div
  {{handsontable
    data=this.data
    settings=this.settings
  }}
>
</div>

<div>
  <button {{on "click" this.updateData}}>
    Update data
  </button>
</div>

{{outlet}}
